@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";




.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--text-color); //var(--primary-color);

    min-height: 100vh;

    .link {
        color: var(--link-color);
    }
}

.app.link {
    color: var(--link-color);
}