.app.light {
    --bg-color: #e8e8ea;
    --bg-color-inverted: #041c65;

    --primary-color: #041c65;
    --primary-color-inverted: #e8e8ea;
    --secondary-color: #0449e0;
    --secondary-color-inverted: #e8e8ea;

    --link-color: #000000;
    --link-color-inverted: #e8e8ea;
    --text-color: #363535;
    --text-color-inverted: #e8e8ea;
}